<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   Employee page
    <ul>  <a href="/emp/new">New Employee</a></ul>
    <ul>  <a href="/emp/view">View Employee</a></ul>
    <ul>  <a href="/emp/delete">DeleteEmployee</a></ul>
    <ul>  <a href="/emp/edit">Edit Employee</a></ul>
</body>
</html>