<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Product page
  <ul>  <a href="/prd/new">New Product</a></ul>
  <ul>  <a href="/prd/view">View Product</a></ul>
  <ul>  <a href="/prd/delete">Delete Product</a></ul>
  <ul>  <a href="/prd/edit">Edit Product</a></ul>
</body>
</html>